* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section{
    width: 45%;
} 

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(https://res.cloudinary.com/muuba/image/upload/v1650391219/Header_Image_fzqpea.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border: none;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

.arrow a {
  text-decoration: none;
}

#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#quote-section .left-section .arrow {
 display: flex;
 align-items: center; 
}


.flex-1 {
display: flex;
justify-content: space-evenly;
padding-top: 100px;
padding-bottom: 100px;
  }

#Booking-section ul li{
  list-style:none;
  margin-bottom:20pX;
}

.left-process h2 {
margin-bottom: 30px;
font-size: 58px;
}

.left-process p {
font-size: 16px;
width: 74%;
  }

.right-process .text-box {
width: 50%;
margin-bottom: 10px;
}

.right-process .text-box h5{
  font-size:24px;
  margin-bottom:20px;
  }

.right-process .image-box {
width: 10%;
margin-right: 10px;
margin-bottom: 10px;
}
.right-process .image-box img {
width: 100%;
}

.right-process ul{
  list-style:none;
}


#Booking-section {
  padding-top: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 100px;
  }

.purple{
width: 0;
height: 50%;
border-left: 4px dotted #FF6433;
margin-left: 22px;
margin-bottom: 13px;
}

#offer-section {
  padding: 80px 0;
  background-color: #F2F2F2;
  min-height: 100vh;
  }
  
  #offer-section .service-offer .service-rendered:hover{
    background: red;
    color: white;
  }
  
.flex-offer {
display: flex;
  justify-content: center;
}

.offer-header h2 {
  font-size: 58px;
  text-align: center;
}
.offer-header p {
  font-size: 24px;
  text-align: center
}

.service-offer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 100%;
margin-top: 40px;
}

#offer-section .service-offer img {
  width: 100%;
  }
.service-offer .service-rendered {
  width: 24.5%;
}
.learn{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.learn a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}


#query-section {
background: url("https://res.cloudinary.com/muuba/image/upload/v1650470125/Image_1_l8sfa3.png") left no-repeat, url("https://res.cloudinary.com/muuba/image/upload/v1650470087/ovGrEUgrkyE_d8hnjt.png") right no-repeat;
  min-height: 100vh;
  background-size: 50%;
  background-color:#F2F2F2;
  position: relative;
}

#experience-section{
  position: relative;
  background-color:#F2F2F2;
  background-size: 50%;
}

 .query-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

 .query-contact {
  background: #FF6433;
  width: 65.8%;
  height:56vh;
  padding: 87.10px;
  margin-top: 135px;
  margin-right: 125px;
   }

.query-contact h3 {
  font-size: 48px;
  color: white;
}

.query-contact button {
  padding: 14px;
  border-radius: 9px;
  border: none;
  background: #1E1B1B;
  color: white;
  margin-top: 29px;
}

#experience-section .experience {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#experience-section .experience p {
  font-size: 24px;
}

.brand-header{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.container-1{
  padding-bottom: 100px;
}
.brand-header h3 {
  font-size: 48px;
  text-align: center;
}
.brand-images-section {
  display: flex;
  flex-wrap: wrap;
}

.brand-images-section .brand-images{
  width: 20%;
}

.brand-images-section .brand-images img{
  width: 100px;
}

#customer-section {
  padding-top: 50px;
  background-color: #F2F2F2;
  padding-bottom: 50px;
}

.customer-header {
  font-size:48px;
  text-align: center;
}

#customer-section .slide-container{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

#customer-section .slide-container{
  position: relative;
}

#customer-section .slide-container .slides{
  width: 45%;
  margin-left: 49px;
  margin-right: 49px;
}

#customer-section .slide-container .slides .img {
 width: 100%;
}


 .dash-section {
  position: absolute;
  top: 100%;
  bottom: 100%;
}


 .left-rigt{
  position:relative;
  top: 50%;
  bottom: 50%;
}

#asked-question {
  background-color:#F2F2F2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.question-header{
  font-size: 48px;
  text-align: center;
}


input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  padding: 20px;
  color: black;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  margin-bottom: 10px;
}

.lbl-toggle:hover {
  color: black;
}
.wrap-collapsible .lbl-toggle{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.wrap-collapsible{
  width: 60%;
  border: 1px;
 max-height: 100%;
  margin: 0 auto;
}

.content-image{
  height: 60px;
  width: 60px;
}

.lbl-toggle::before {
  content: icon;
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background-color:  #939191;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before{
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#service-section {
  background-color: black;
  color: white;
  margin-bottom: 10px;
}



.left-side h3 {
  font-size: 48px;
}

.left-side ul {
    list-style: none;
    padding-bottom: 50px;
    display: flex;
}


.right-side .first p {
  color: gray;
}

.right-side .first h3 {
  margin-bottom: 50px;
}

#footings {
  background-color: black;
  padding-bottom: 50px;
}

.rights ul li a {
  color:white;
  margin-left: 20px;
  text-decoration: none;
}

.copy{
  color: gray;
}
.navigation { 
  display: flex;
  align-items: center;
}

.rights ul {
  list-style: none;
  display: flex;
}


@media(max-width: 426px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section .navigation ul{
    flex-direction: column;
  }

  .right-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
  }

  .right-section .navigation {
    border:none;
    width: 100%;
  }

  .right-section .navigation ul li {
    padding: 10px 0;
    margin-right: 0;
  }

  .right-section .navigation ul li a {
    display: block;
  }

  .road-assistance {
    padding: 10px 0;
  }

  .flex-sm-column{
    flex-direction: column;
  }

  #hero-section .text-section {
    width: 100%;
    order: 2;
  }

  .text-section h1 {
    font-size: 48px;
  }

  #hero-section .image-section {
    width: 100%;
  }

  #quote-section .left-section, #quote-setion .right-form-section {
    width: 100%;
  }

  #quote-section .left-section .image-box {
    width: 10%;
  }

  #quote-section .left-section .text-box{
    width: 80%;
  }

  #quote-section .left-section h2 {
    font-size: 35px;
  } 

  #quote-section .left-section {
    margin-bottom: 40px;
  }

  #quote-setion .right-form-section h3 {
    margin-bottom: 30px;
    font-size: 35px;
  }

  #Booking-section .left-process, #Booking-section .right-process {
    width: 100%;
  }
  #Booking-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .left-process h2 {
    font-size: 35px;
  }

  .left-process p {
    width: 100%;
  }

 
}