* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section{
    width: 45%;
} 

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(https://res.cloudinary.com/muuba/image/upload/v1650391219/Header_Image_fzqpea.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
    border: none;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}
.time-section img {
    width: 100%;
}

.light-grey {
    color: #939191;
}

#quote-section {
    background: #E2E6E9;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li {
    margin-bottom: 20px;
}

#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 58px;
}

#quote-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

.arrow a {
  text-decoration: none;
}

#quote-section .left-section .image-box img {
    width: 100%;
}


#quote-section .left-section .text-box {
    width: 50%;
}

#quote-section .left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3{
    font-size: 48px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#quote-section .left-section .arrow {
 display: flex;
 align-items: center; 
}


.flex-1 {
display: flex;
justify-content: space-evenly;
padding-top: 100px;
padding-bottom: 100px;
  }

#Booking-section ul li{
  list-style:none;
  margin-bottom:20pX;
}

.left-process h2 {
margin-bottom: 30px;
font-size: 58px;
}

.left-process p {
font-size: 16px;
width: 74%;
  }

.right-process .text-box {
margin-bottom: 10px;
}

.right-process .text-box h5{
  font-size:24px;
  margin-bottom:20px;
  }

.right-process .image-box {
margin-right: 10px;
margin-bottom: 10px;
}
.right-process .image-box img {
width: 100%;
}

.right-process ul{
  list-style:none;
}


#Booking-section {
  padding-top: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 100px;
  }

.purple{
width: 0;
height: 50%;
border-left: 4px dotted #FF6433;
margin-left: 22px;
margin-bottom: 13px;
}

#offer-section {
  padding: 80px 0;
  background-color: #E2E6E9;
  min-height: 100vh;
  }

  #offer-section h2, #offer-section h5{
    text-align: center;
    font-size: 20px;
  }
  #offer-section h2{
    font-size: 70px;
  }

  #offer-section .offers .offer-box{
    background: white;
    height: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 12px;
    width: 24%;
  }

  .justify-between{
    justify-content: space-between;
  }

  #offer-section .offers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  
  #offer-section .offers .offer-box:hover{
    background: #FF6433;
    color: white;
  }

.learn-arrow{
  display: flex;
  justify-content: flex-end;
}

.learn-arrow a {
  display: flex;
  text-decoration: none;
  color: black;
}


/*#query-section {
background: url("https://res.cloudinary.com/muuba/image/upload/v1650470125/Image_1_l8sfa3.png") left no-repeat, url("https://res.cloudinary.com/muuba/image/upload/v1650470087/ovGrEUgrkyE_d8hnjt.png") right no-repeat;
  background-size: 50%;
  background-color:#F2F2F2;
  position: relative;*/


#tools-section {
   height: 500px;
   display: flex;
}

 #tools-section .car-section {
  width: 40%;
  height: 500px;
  background: url("https://res.cloudinary.com/muuba/image/upload/v1650470125/Image_1_l8sfa3.png") no-repeat;
  background-size: cover;
  background-position: left;
   }

#tools-section .orange-section {
  width: 40%;
  background: #FF6433;
  height: 500px;
}

.orange-section h3{
  font-size: 40px;
  color: white;
}

.orange-section button {
  background: #000;
  color: white;
  border-radius: 9px;
  border: none;
  padding: 14px;
  margin-top: 29px;
}
#tools-section .auto-section{
  width: 40%;
  height: 500px;
  background: url("https://res.cloudinary.com/muuba/image/upload/v1650470087/ovGrEUgrkyE_d8hnjt.png")no-repeat;
  background-size: cover;
  background-position: center;
}

#experience-section{
  position: relative;
  background-color:#F2F2F2;
  background-size: 50%;
}

#experience-section .experience {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#experience-section .experience p {
  font-size: 24px;
}

.brand-header{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  
}

.container-1{
  padding-bottom: 100px;
}
.brand-header h3 {
  font-size: 48px;
  text-align: center;
}

.brand-images-section  {
  display: flex;
  flex-wrap: wrap;
  
}

.brand-images-section .brand-images{
  width: 20%;
}

.brand-images-section .brand-images img{
  width: 100%;
}

#testimony-section .custom-header{
  text-align: center;
  font-size: 48px;
}

#testimony-section .testimonials{
  display: flex;
  justify-content: space-between;
}


#testimony-section {
  min-height: 100vh;
  padding: 80px 0;
  background: #F2F2F2;
}

#testimony-section  .testimony-person{
  display: flex;
  justify-content:flex-start;
}

#testimony-section .testimony-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
}

#testimony-section .testimony-slide {
  width: 45%;
  background: #FFFFFF;
  padding: 30px;
  border: 1px solid rgba(172, 172, 172, 0.29);
  box-shadow: 11px 130px 100px 30px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
}

#testimony-section .bottom .sliders{
  align-items: left;
}


#asked-question {
  background-color:#F2F2F2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.question-header{
  font-size: 48px;
  text-align: center;
}


input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;
  padding: 20px;
  color: black;
  background: white;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  margin-bottom: 10px;
}

.lbl{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 35px;
}

.lbl-toggle:hover {
  color: black;
}

.wrap-collapsible{
  border: 1px;
 max-height: 100%;
  margin: 0 auto;
}

.content-image{
  height: 60px;
  width: 60px;
}

.lbl-toggle::before {
  content: icon;
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background-color: white;
  color: lightgray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.toggle:checked + .lbl-toggle::before{
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#service-section {
 background: #1E1B1B;
  color: white;
  margin-bottom: 1 px;
  opacity: 0.98;
}



.left-side h3 {
  font-size: 48px;
}

.left-side ul {
    list-style: none;
    padding-bottom: 50px;
    display: flex;
}


.right-side .first p {
  color: gray;
}

.right-side .first h3 {
  margin-bottom: 50px;
}


#footings {
  background-color: black;
  padding-bottom: 50px;
}

.rights ul li a {
  color:white;
  margin-left: 20px;
  text-decoration: none;
}

.copy{
  color: #FFFFFF;
  opacity: 0.6;;
}
.navigation { 
  display: flex;
  align-items: center;
}

.rights ul {
  list-style: none;
  display: flex;
}

#Our-services .serviced1 {
  background: url(../img/1st\ service.png) no-repeat;
  background-position: justify;
}

#our-services .serviced1 .service-imagecar {
  padding-left: 100px;
}

#Our-services {
  background-color: white;
}

.serviced1 {
  display: flex;
  justify-content: space-around;
}

.service-textcar{
  background: #000;
  color: #F2F2F2;
   width: 733px;
   text-align:justify;
   padding-left: 60px;
   padding-top: 40px;
   padding-bottom: 60px;
  }

.service-textcar h2 {
  font-size: 64px;
  width: 374px;
  margin-bottom: 40px;
}

.service-textcar p{
  font-size: 18px;
  width: 541px;
  margin-bottom: 40px;
}

#auto-diagnostics {
  background: #F5F5F5;
  
}

#auto-diagnostics .diagnostics {
  border: 1px solid white;
  background: white;
  height: 760px;
  width: 624px;
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 80px;
  padding-top: 50px;
  margin-bottom: 50px;
}

#auto-diagnostics .image-diagnostics {
 padding: 10px 20px 10px 20px;
}

#auto-diagnostics .text-diagnostics h2{
  height: 67px;
  width: 519px;
  font-size: 48px;
}


#auto-diagnostics .text-diagnostics p {
  height: 67px;
  width: 519px;
  font-size: 24px;
  color: #232536;
}

.diagnostics-arrow {
  display: flex;
  margin-bottom: 576px;
  padding-top: 80px;
 
}

.diagnostics-arrow a {
  display: flex;
  text-decoration: none;
  color: #000;
}

#auto-diagnostics .offers .offer-box{
  background: white;
  height: 232px;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 12px;
  width: 49%;
}

#auto-diagnostics .offers {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 15px;
}

#auto-diagnostics .offers .offer-box:hover{
  background: #FF6433;
  color: white;
}

#auto-diagnostics .auto-diagnosed {
  display: flex;
  justify-content: space-between;
}
#work-process{
  width: 100%;
}

#work-process .text-work .texts, .text-2 p {
  width: 100%;
  margin-top: 25px;
}

#work-process .text-work h3 {
    font-size: 35px;
    width: 100%;
}

#work-process .texts {
  margin-top: 10px;
}

#work-process .flex .text-checks{
  font-size: 20px;
  margin-right: 15px;
  width: 100%;
}

#work-process {
  display: flex;
}

#work-process .car-flex {
  display: flex;
}

.car-flex{
  display: flex;
  justify-content: space-between;
}

.car-flex .img-1, .car-flex .img-2{
  margin-top: 20px;
 width: 49%;
  
}

.car-flex {
  padding-right: 100px;
}

#right-side-work{
  padding-top: 100px;
  padding-bottom: 10px;
}

.right-work-process .text-2{
  width: 70%;
  min-height: 100vh;
}

.text-2 h3{
  font-size: 35px;
}

.text-2 p{
  font-size: 20px;
}

#right-side-work .right-work-process {
  display: flex;
  justify-content: space-between;
}


#work-process .works {
  display: flex;
  justify-content: space-between;
}


/*tablet-view*/
@media (max-width:769px) and (min-width:426px) {
  .road-assistance{
    display:none;
  }

  .container{
    width: 90%;
  }

  .text-section h1, #quote-section .left-section h2, #quote-section .right-form-section h3, .left-process h2, #offer-section h2, .brand-header h3, .question-header h3, .left-side h3 {
    font-size: 35px;
  }

  #quote-section .left-section .image-box, .right-process .image-box{
    width: 15%;
  }
  
  #offer-section .offers .offer-box{
    width: 32%;
  }
  
#quote-section .left-section .text-box {
  width: 70%;
}

.custom-header h3{
  font-size: 50%;
}


.lbl-toggle .lbl{
  font-size: 30px;
}

.copy {
  display: none;
}

.service-textcar {
   background: none;
   color: #000;
}
}

@media(max-width: 426px) {

  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-section .navigation ul{
    flex-direction: column;
  }

  .right-section {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
  }

  .right-section .navigation {
    border:none;
    width: 100%;
  }

  .right-section .navigation ul li {
    padding: 10px 0;
    margin-right: 0;
  }

  .right-section .navigation ul li a {
    display: block;
  }

  .road-assistance {
    padding: 10px 0;
  }

  .flex-sm-column{
    flex-direction: column;
  }

  #hero-section .text-section {
    width: 100%;
    order: 2;
  }

  .text-section h1 {
    font-size: 35px;
  }

  #hero-section .image-section {
    width: 100%;
  }

  #quote-section .left-section, #quote-setion .right-form-section {
    width: 100%;
  }

  #quote-section .left-section .image-box {
    width: 10%;
  }

  #quote-section .left-section .text-box{
    width: 80%;
  }

  #quote-section .left-section h2 {
    font-size: 35px;
  } 

  #quote-section .left-section {
    margin-bottom: 40px;
  }

  #quote-setion .right-form-section h3 {
    margin-bottom: 30px;
    font-size: 35px;
  }

  #Booking-section .left-process, #Booking-section .right-process {
    width: 100%;
  }
  #Booking-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .left-process h2 {
    font-size: 35px;
    width: 100%;
  }

  .left-process p {
    width: 100%;
  }

  .orange-btn {
    margin-bottom: 70px;
  }

  .text-box p{
    width: 100%;
  }

  .service-offer {
    flex-direction: column;
    width: 100%;
  }

  .offer-header h2 {
    font-size: 35px;
  }

  .query-1 {
    flex-direction: column;
  }

  #experience-section .experience {
    flex-direction: column;
    text-align: center;
  }

  #experience-section .experience-img, #experience-section .experience-texts {
    margin-bottom: 30px;
  }
  
  .brand-images-section {
    flex-direction: column;
    width: 100%;
  }
  .brand-header {
    padding-top: 50px;
  }

  .brand-header h3 {
    font-size: 35px;
    width: 100%;
  }

  .customer-header h3{
    font-size: 35px;
    width: 100%;
}

#customer-section .slide-container {
  flex-direction: column;
    margin-bottom: 30px;
}

.question-header h3{
  font-size: 35px;
  margin-bottom: 30px;
}

.questions-body {
  width: 100%;
}

.flex-1 {
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 0px;
}

.left-side h3 {
  font-size: 35px;
}

.navigation {
  flex-direction: column;
}

.rights ul {
  flex-direction: column;
  width: 100%;
}



.logo {
  margin-bottom: 20px;
}

.navigation ul li{
  margin-bottom: 20px;
}

.question{
  width: 100%;
}

#offer-section .offers {
  flex-direction: column;
    width: 100%;
}

#offer-section .offers .offer-box{
  width: 100%;
}

#tools-section{
  flex-direction: column;
}

#tools-section .car-section, #tools-section .orange-section, #tools-section .auto-section{
  width: 100%;
}
.orange-section button {
  margin-bottom: 14px;
}

.custom-header h3 {
  font-size: 35px;
    width: 100%;
}
.brand-images-section .brand-images {
  width: 100%;
}

#testimony-section .testimonials {
  flex-direction: column;
    width: 100%;
}

#testimony-section .testimony-slide{
  width: 100%;
}

#testimony-section .testimony-slide .testimony-person .person-info{
  width: 70%;
}
#offer-section h2 {
  font-size: 35px;
    width: 100%;
}

#offer-section h5{
width: 100%;
}

.service-textcar{
  background: none;
}

.lbl-toggle .lbl{
  font-size: 20px;
}

.service-textcar p {
    color: black;
    font-size: 24px;
    width: 100%;
    padding-right: 50px;
}

.service-textcar h2 {
  color: black;
}

#auto-diagnostics .auto-diagnosed {
  flex-direction: column;
}

#Our-services .serviced1 {
  background-position: center;
    background-size: cover;
}

.image-diagnostics img {
  width: 60%;
}

#auto-diagnostics .text-diagnostics h2 {
  font-size: 35px;
}

auto-diagnostics .text-diagnostics p {
  font-size: 20px;
  width: 60%;
}

#auto-diagnostics .diagnostics {
  height: 500px;
}

auto-diagnostics .offers .offer-box {
  width: 100%;
}

#work-process .works, #right-side-work .right-work-process {
   flex-direction: column;
}

.right-work-process .text-2 {
  order: 2;
  width: 100%;
}

}